@using Src.Domain.Core.AAM.ManageUser.Enums
@using Src.Domain.Core.Customer_Manager.Customer.Dtos
@model List<CustomerDto>
@{
    ViewData["Title"] = "لیست مشتری ها";
}
<div class="row match-height">
    <div class="col-12 col-xl-12" id="recent-sales">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">
                        @ViewData["Title"]
                    </h4>
                </div>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
                @if (TempData["SuccessMessage"] is not null)
                {
                    <div id="alertbox" class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
                }
                @if (TempData["ErrorMessage"] is not null)
                {
                    <div id="alertbox" class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
                }
            </div>
            <div class="card-content mt-1">
                <div class="col-12">
                    <a class="btn btn-info btn-sm" asp-area="Admin" asp-action="Create" asp-controller="User"> افزودن مشتری جدید </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                        <thead>
                            <tr>
                                <th class="border-top-0">شناسه</th>
                                <th class="border-top-0">عکس</th>
                                <th class="border-top-0">
                                    نام
                                </th>
                                <th class="border-top-0">ایمیل</th>
                                <th class="border-top-0">شماره موبایل</th>
                                <th class="border-top-0">استان</th>
                                <th class="border-top-0">تعداد سفارش ها</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model)
                            {
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-outline-success round mb-0" type="button">@customer.Id</button>
                                    </td>
                                    <td class="text-truncate align-content-center">
                                        @if(customer.ImagePath is null)
                                        {
                                            <img class="round" style="height:80px; width:65%" id="navbar-avatar" src="~/AdminTemplate/img/User/placeholder-male.jpg" alt="avatar" />
                                        }
                                        else
                                        {
                                            <img class="round" style="height:100px; width:50%" id="navbar-avatar" src="~/@customer.ImagePath" alt="avatar" />
                                        }
                                    </td>
                                    <td class="text-truncate align-content-center">@customer.Name</td>
                                    <td class="text-truncate align-content-center">@customer.Email</td>
                                    @if(customer.Phone == null)
                                    {
                                        <td class="text-truncate text-danger align-content-center">شماره موبایل ثبت نشده است.</td>
                                    }
                                    else
                                    {
                                        <td class="text-truncate align-content-center">@customer.Phone</td>
                                    }
                                    <td class="text-truncate align-content-center">@customer.Province</td>
                                    @if (customer.RequestCount == 0)
                                    {
                                        <td class="text-truncate text-danger align-content-center">سفارشی ثبت نشده.</td>
                                    }
                                    else
                                    {
                                        <td class="text-truncate align-content-center">@customer.RequestCount</td>
                                    }
                                    <td class="text-truncate align-content-center">
                                        <a class="btn btn-success " asp-area="Admin" asp-action="Update" asp-controller="User" asp-route-id="@customer.Id"> ویرایش </a>
                                        <a class="btn btn-warning " asp-area="Admin" asp-action="UserDetails" asp-controller="User" asp-route-id="@customer.Id" asp-route-role="@RoleEnum.Customer"> جزئیات </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>