@using Src.Domain.Core.AAM.ManageUser.Enums
@using Src.Domain.Core.Expert_Manager.Expert.Dtos
@model List<ExpertDto>
<div class="row match-height">
    <div class="col-12 col-xl-12" id="recent-sales">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">
                        کارشناسان
                    </h4>
                </div>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
                @if (TempData["SuccessMessage"] is not null)
                {
                    <div id="alertbox" class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
                }
                @if (TempData["ErrorMessage"] is not null)
                {
                    <div id="alertbox" class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
                }
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                        <thead>
                            <tr>
                                <th class="border-top-0">شناسه</th>
                                <th class="border-top-0">
                                    نام
                                </th>
                                <th class="border-top-0">ایمیل</th>
                                <th class="border-top-0">شماره موبایل</th>
                                <th class="border-top-0">استان</th>
                                <th class="border-top-0">تعداد سفارش ها</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var expert in Model)
                            {
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-outline-success round mb-0" type="button">@expert.Id</button>
                                    </td>
                                    <td class="text-truncate align-content-center">@expert.Name</td>
                                    <td class="text-truncate align-content-center">@expert.Email</td>
                                    @if (expert.Phone == null)
                                    {
                                        <td class="text-truncate text-danger align-content-center">شماره موبایل ثبت نشده است.</td>
                                    }
                                    else
                                    {
                                        <td class="text-truncate align-content-center">@expert.Phone</td>
                                    }
                                    <td class="text-truncate align-content-center">@expert.Province</td>
                                    @if (expert.Phone == null)
                                    {
                                        <td class="text-truncate text-danger align-content-center">پیشنهادی ثبت نشده.</td>
                                    }
                                    else
                                    {
                                        <td class="text-truncate align-content-center">@expert.ProposalCount</td>
                                    }
                                    <td class="text-truncate align-content-center">
                                        <a class="btn btn-success" asp-area="Admin" asp-action="Update" asp-controller="User" asp-route-id="@expert.Id"> ویرایش </a>
                                        <a class="btn btn-warning" asp-area="Admin" asp-action="UserDetails" asp-controller="User" asp-route-id="@expert.Id" asp-route-role="@RoleEnum.Expert"> جزئیات </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-12">
                        <a class="btn btn-info btn-sm" asp-area="Admin" asp-action="Create" asp-controller="User"> افزودن کارشناس جدید </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>